.corpo-pagina-contato{
    width: 990px;
    height: 800px;
    margin-top: 20px;
    padding-top: 200px;
    padding-left: 900px;
}
.box-redes-sociais{
    margin-top:80px;
    font-size: 25px;
}

.item-redesocial-face:hover,  .item-redesocial-insta:hover, .item-redesocial-git:hover{
    color: blue;
}

